.App {
	text-align: center;
	background-color: rgb(255, 255, 255);
	background-size: cover;
	background-attachment: fixed;

	/* Make the app fill the entire viewport */
	width: 100vw; /* viewport width */
	height: 100vh; /* viewport height */
	margin: 0; /* Remove default margin */
	overflow: auto; /* Adds scroll to the app if the content overflows */
} 

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.classes-container {
    margin-left: 0;
}

.classes-list {
    list-style: none;
    padding: 0;
}

.class-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}
